doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='version', content='0.0.2')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href="#{cdn}/style.css" rel="stylesheet")
  body
    div(id="root" style="min-height: 100%")
    script(type="text/javascript" src="#{cdn}/vendor.bundle.js")
    script(type="text/javascript" src="#{cdn}/bundle.js")
